<div id="about" class="about-component">
  <div class="container">
    <h3 class="about-title">ABOUT</h3>
    <h2>A Bit About Me</h2>
    <div class="bio">
      <p>I'm a software developer with a focus on web development. I love solving problems and am constantly learning and exploring new technologies.</p>
    </div>
    <h2>Education</h2>  
    <div class="edu">
      <h3 class="edu-name">Code Fellows</h3>
      <h4>September 2016</h4>
      <h3 class="edu-result">Certificate in Advanced JavaScript Development</h3>
    </div>
    <div class="edu">
      <h3 class="edu-name">University of Washington</h3>
      <h4>June 2015</h4>
      <h3 class="edu-result">Bachelor's Degree</h3>
    </div>
  </div>
</div>

