<div class="about-container-primary">
  <h1 class="section-title text-center">ABOUT ME</h1>
  <div class="about-container-secondary container">
    <ul class="text-center">
      <li class="about-links" data-ng-click="$ctrl.toggleBio()" data-ng-class="{'tab-selected': $ctrl.showBio}">Bio</li> 
      <li class="about-links" data-ng-click="$ctrl.toggleSkills()" data-ng-class="{'tab-selected': $ctrl.showSkills}">Skills</li>
    </ul>

    <div class="container bio-container" data-ng-show="$ctrl.showBio">
      <div class="about-description">
        <p class="bio">I am full-stack software developer with a focus on JavaScript and predominately experienced in implementing MEAN stack web applications. My interest in software development was sparked as I was finishing my Anthropology degree at UW. I took a few intro CSE courses which ultimately led me to Codefellows to learn full-stack web development where I can utilize the skills I learned from Anthropology to build web apps that focus on ease of use and fluid user experiences for the app's specific audience.</p>
      </div>
    </div>

    <div class="container skills-container" data-ng-show="$ctrl.showSkills">

    <h3 class="text-center">Technical Skills:</h3>    
    <div class="row">
      <div class="col-sm-8 skills-container">
        <ul class="skills-container">
          <li class="skill-title">Proficient</li>  
          <li>Node.js</li>
          <li>Angular.js</li>
          <li>Javascript</li>
          <li>MongoDB</li>
          <li>HTML5 
          <li>CSS/SASS</li>
          <li>jQuery</li>
          <li>RESTful API</li> 
        </ul> 
      </div> 
      <div class="col-sm-8 skills-container">
        <ul class="skills-container">
            <li class="skill-title">Intermediate</li> 
            <li>Java</li>
            <li>SQL</li>
            <li>React</li>
            <li>Ruby On Rails</li>
        </ul>   
      </div>  
      <div class="col-sm-8 skills-container">
        <ul class="skills-container">
          <li class="skill-title">Interests/Stretch Goals</li> 
          <li>D3 (Data-visualization tools)</li>
          <li>Python</li>
          <li>Django</li>
        </ul> 
      </div>
    </div>
  </div>
  </div>        
  </div>
      
</div>