<div class="about-component">
  <div class="container">
    <h3 class="section-title">ABOUT</h3>
    <p class="bio">I'm a software developer with a focus on JavaScript and predominately experienced in implementing MEAN stack web applications. My interest in software development was sparked as I was finishing my Anthropology degree at UW. I took a few intro CSE courses which ultimately led me to Codefellows to learn full-stack web development where I can utilize the skills I learned from Anthropology to build web apps that focus on ease of use and fluid user experiences for the app's specific audience.</p>
  </div>
  <contact-info></contact-info> 
</div>

