<nav id="navbar-main" data-ng-init="$ctrl.currentTab()">
  <div class="navbar-title">
    <a href="#/home">DS</a>
  </div>
  <ul id="navbar-list">
    <a data-ng-click="$ctrl.go('home')" ><li data-ng-class="{'nav-selected': $ctrl.home}">HOME</li></a>
    <a data-ng-click="$ctrl.go('about')" ><li data-ng-class="{'nav-selected': $ctrl.about}">ABOUT ME</li></a>
    <a data-ng-click="$ctrl.go('projects')" ><li data-ng-class="{'nav-selected': $ctrl.projects}">PROJECTS</li></a>
    <a data-ng-click="$ctrl.go('contact')" ><li data-ng-class="{'nav-selected': $ctrl.contact}">CONTACT</li></a>
  </ul>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <button class="navbar-toggle" data-ng-click="$ctrl.toggle()" data-ng-class="{'nav-menu-toggle': $ctrl.isCollapsed === false}">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </nav>
</nav>

<div class="navbar-collapse {{$ctrl.collapsedClass}}" id="navcol-1">
  <ul class="nav navbar-nav">
    <li class="active" role="presentation"><a href="#/home" data-ng-click="$ctrl.toggle()">HOME</a></li>
    <li role="presentation"><a href="#/about" data-ng-click="$ctrl.toggle()">ABOUT</a></li>
    <li role="presentation"><a href="#/projects" data-ng-click="$ctrl.toggle()">PROJECTS</a></li>
    <li role="presentation"><a href="#/contact" data-ng-click="$ctrl.toggle()">CONTACT</a></li>
  </ul>
</div>