<nav id="navbar-main" data-ng-init="$ctrl.currentTab()">
  <div class="navbar-title">
    <a href="#/home">DS</a>
  </div>
  <ul id="navbar-list">
    <a data-ng-click="$ctrl.go('home')" data-ng-class="{'nav-selected': $ctrl.home}"><li>HOME</li></a>
    <a data-ng-click="$ctrl.go('about')" data-ng-class="{'nav-selected': $ctrl.about}"><li>ABOUT ME</li></a>
    <a data-ng-click="$ctrl.go('contact')" data-ng-class="{'nav-selected': $ctrl.contact}"><li>CONTACT</li></a>
    <a data-ng-click="$ctrl.go('projects')" data-ng-class="{'nav-selected': $ctrl.projects}"><li>PROJECTS</li></a>
    <a data-ng-click="$ctrl.go('skills')" data-ng-class="{'nav-selected': $ctrl.skills}"><li>SKILLS</li></a>
  </ul>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <button class="navbar-toggle" data-ng-click="$ctrl.toggle()" data-ng-class="{'nav-menu-toggle': $ctrl.isCollapsed === false}">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </nav>
</nav>

<div class="navbar-collapse {{$ctrl.collapsedClass}}" id="navcol-1">
  <ul class="nav navbar-nav">
    <li class="active" role="presentation"><a href="#/home" data-ng-click="$ctrl.toggle()">HOME</a></li>
    <li role="presentation"><a href="#/about" data-ng-click="$ctrl.toggle()">ABOUT</a></li>
    <li role="presentation"><a href="#/contact" data-ng-click="$ctrl.toggle()">CONTACT</a></li>
    <li role="presentation"><a href="#/projects" data-ng-click="$ctrl.toggle()">PROJECTS</a></li>
    <li role="presentation"><a href="#/skills" data-ng-click="$ctrl.toggle()">SKILLS</a></li>
  </ul>
</div>