<nav>
  <div class="navbar-title">
    <h1 class="navbar-title-content">Dylan's Portfolio</h1>
  </div>
  <ul class="navbar-list">
    <a href="#/home"><li>HOME</li></a>
    <a href="#/about"><li>ABOUT ME</li></a>
    <a href="#/past-projects"><li>PAST PROJECTS</li></a>
    <a href="#/current-projects"><li>CURRENT PROJECTS</li></a>
  </ul>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <button class="navbar-toggle" data-ng-click="$ctrl.toggle">
        <span class="sr-only">Toggle nav</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </nav>
</nav>

<div class="navbar-collapse {{$ctrl.collapsedClass}}" id="navcol-1">
  <ul class="nav navbar-nav">
    <li class="active" role="presentation"><a href="#/home">HOME</a></li>
    <li role="presentation"><a href="#/about">ABOUT</a></li>
    <li role="presentation"><a href="#/past-projects">PAST PROJECTS</a></li>
    <li role="presentation"><a href="#/current-projects">CURRENT PROJECTS</a></li>
  </ul>
</div>