@import "./vendor/bootstrap/stylesheets/_bootstrap.scss";
@import './vendor/font-awesome-4.6.3/scss/font-awesome.scss';

@import "_theme.scss";
@import "_main.scss";
@import "_layout.scss";
@import "_links.scss";
@import "_nav_responsive.scss";
@import "_nav.scss";
@import "_fonts.scss";

@media only screen and (max-width: 768px) {
  .contact-wrapper {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
  }
  .about-component {
    margin-top: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .container-fluid {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    height: 70px;
  }

  .navbar-collapse {
    background-color: black;
    opacity: 1;
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
  }

  #navcol-1.navbar-collapse ul li {
    margin: 0;
    padding: 2%;
    display: block;
    text-align: center;
    background-color: black;
    
  }

  #navcol-1.navbar-collapse ul li a:hover {
    background-color: $app-nav-link-bg-hover;
  }

  #navbar-list {
    display: none;
  }

  #navbar-main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    .navbar-title a {
      color: black;
      background-color: white;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  .navbar.navbar-inverse {
    margin-bottom: 0;
    border: none;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .contact-wrapper {
    width: 100%;
  }

  .contact {
    // background-color: rgba(0, 0, 0, .75);
    color: $app-light;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1.section-title {
      color: white;
    }
    .headshot {
      background-image: url('../lib/images/profile-edit.jpg');
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      width: 24rem;
      height: 24rem;
    }
  }

  ul.contact-info {
    padding-left: 2rem;
  }

  .project-image {
    display: none;
  }

  .image-wrapper {
    display: none;
  }
  ul.contact-info {
      font-size: 1.3rem;
  }

  .bio {
    padding: 1rem;
    background-color: rgba(0, 0, 0, .1);
  }

  .projects-component {
    background-color: $app-light;
    margin: 0rem;
    padding: 0rem;
    .section-title {
       color: black;
      text-align: center;
      font-size: 4rem;
      font-family: 'librebaskerville-bold', serif;
    }
  }
  .skills-container {
    margin: 0rem;
    padding: 1.5rem 0rem 0rem 0rem; 
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 680px)
  and (-webkit-min-device-pixel-ratio: 2) {
    main {
      width: 100%;
      height: 100%;
    }

  #navbar-main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    .navbar-title a {
      color: black;
      background-color: white;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

    .navbar.navbar-inverse {
      width: 50px;
      border: none;
      background-color: inherit;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .nav.navbar-nav {
      background-color: rgba(0, 0, 0, 1.0);
    }

    #navcol-1.navbar-collapse ul li {
      margin: 0;
      padding: 2%;
      display: block;
    }

    .about-container-primary {
      height: 100%;
      flex: 1;
    }

    .image-wrapper {
      display: none;
    }

    ul.contact-info {
      font-size: 1.3rem;
    }

    .skill-icons {
      margin: 0rem;
    }

    ul.skill-icons {
      margin: 0rem;
      li {
        flex: 0 0 120px;
      }
    }
  }