<!--<div class="home-full full">-->
  <nav-bar></nav-bar>
  <div class="component-wrapper home-container">
    <header class="header-container">
    <div class="intro-wrapper hidden-xs">
      <h4 class="intro-subhead">Software Developer</h4>
      <h1 class="intro-heading">D&nbsp;y&nbsp;l&nbsp;a&nbsp;n &nbsp; S&nbsp;a&nbsp;n&nbsp;d&nbsp;e&nbsp;r&nbsp;s</h1>
      <div class="links">
        <a href="https://github.com/dylanjsa90" target="_blank"><i class="fa fa-github-square fa-2x" style="color: black;"></i></a>
        <a href="https://linkedin.com/in/dylanjsanders"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="http://www.dylanjsanders.com"><i class="fa fa-folder-open fa-2x" style="color: green;"></i></a>
        
        </div>
      </div>
    </header>

    <div class="home-nav">
      <ul>
        <li>More <a data-ng-click="$ctrl.go('/about')" class="home-links">About me</a></li>
        <li>View <a data-ng-click="$ctrl.go('/projects')" class="home-links">Projects</a></li>
      </ul>
       

    </div>
  </div>
  <footer-component class="footer"></footer-component>
<!--</div>-->

