<div class="contact-info-container">
  <h2>Contact</h2>
    
    <div class="contact">
      <ul class="contact-info">
        <img class="self-img" src="../../lib/images/profile.jpg" style="height: 150px; width: 150px;" alt="headshot">
        <li><span class="contact-intro"><i class="fa fa-user">Name </i></span><span class="name">Dylan Sanders</span></li>
        <li><span class="contact-intro"><i class="fa fa-envelope"></i>Email </span><a class="email" href="mailto:dylanjsanders1@gmail.com">dylanjsanders1@gmail.com</a></li>
        <li><span class="contact-intro"><i class="fa fa-phone"></i>Phone </span><span class="phone">(206) 724-4453</span></li>
        <li><span class="contact-intro"><i class="fa fa-map-marker"></i>Location </span><span class="location">Seattle, WA</span></li>
        <li><span class="contact-intro"><i class="fa fa-file-text"></i>Resume </span><a href="https://github.com/dylanjsa90/Portfolio/blob/master/dylan-sanders-CV.pdf">Download</a></li>
        <li class="contact-links">Also find me at <span class="contact-intro"><a href="github.com/dylanjsa90"><i class="fa fa-github"></i></a> <a href="linkedin.com/dylanjsanders"><i class="fa fa-linkedin"></i></a></a></span></li>
      </ul>
  </div>    
</div>