<div class="contact-wrapper">
  <div class="contact container">
    <div class="headshot"></div>
    <h1 class="contact-title">Contact</h1>
    <!--<img class="self-img" src="../../lib/images/profile-edit.jpg" style="height: 150px; width: 150px;" alt="headshot">-->
      <ul class="contact-info">
        <li><span class="contact-intro"><i class="fa fa-user">Name </i></span><span class="name">Dylan Sanders</span></li>
        <li><span class="contact-intro"><i class="fa fa-envelope"></i>Email </span><a class="email" href="mailto:dylanjsanders1@gmail.com">dylanjsanders1@gmail.com</a></li>
        <li><span class="contact-intro"><i class="fa fa-phone"></i>Phone </span><span class="phone">(206) 724-4453</span></li>
        <li><span class="contact-intro"><i class="fa fa-map-marker"></i>Location </span><span class="location">Seattle, WA</span></li>
        <li><span class="contact-intro"><i class="fa fa-file-text"></i>Resume </span><a href="https://bit.ly/DylanSandersResume" target="_blank">Download</a></li>
        <li class="contact-links">Also find me at <span class="contact-intro"><a href="github.com/dylanjsa90"><i class="fa fa-github"></i></a> 
        <a href="linkedin.com/dylanjsanders"><i class="fa fa-linkedin"></i></a> <a href="http://codepen.io/dylansa90/" target="_blank"><i class="fa fa-codepen"></i></a></span></li>
      </ul>
  </div>
</div>